.title {
	font-weight: 400;
	font-size: 35px;
}

.overview {
	font-size: 20px;
	font-weight: 400;
	font-family: Roboto;
	height: 120px;
	overflow-y: hidden;
	margin-top: 10px;
}

.overview:hover {
	overflow-y: scroll;
}

.rating_container {
	display: flex;
}

.rating {
	margin-top: 3px;
  margin-left: 5px;
}